extends layout

block content
  h1 #{title}: #{role.name}
  
  if role_players.length
  
    p #[strong Delete the following players before attempting to delete this role.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Players
    
      dl
      each player in role_players
        dt 
          a(href=player.url) #{player.nickname}
        dd #{player.summary}

  else
    p Do you really want to delete this role?
    
    form(method='POST' action='')
      div.form-group
        input#roleid.form-control(type='hidden',name='roleid', required='true', value=role._id )

      button.btn.btn-primary(type='submit') Delete